.photo{
    padding-left: 900px;
    padding-top: 100px;
}

.img{
    border-radius: 50%;
}

.style{
    text-decoration: underline;
}

#carouselExampleIndicators{
    text-align: center;
    height: 1000px;
    width: 1000px;
    border-radius: 50%
    
}

