#photo{
    padding-left: 900px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.img{
    border-radius: 5%;
}

.style{
    text-decoration: underline;
}

  .link1{
    color: rgb(241, 164, 20);
    font-size: 25px;
  }

  .link2{
    color: rgb(241, 164, 20);
    font-size: 25px;
  }

  .link1:hover{
    color: rgb(185, 90, 185);
  }

  .link2:hover{
    color: rgb(185, 90, 185);
  }

  body{
    background-image: url("https://i.natgeofe.com/n/57f411cd-dfe6-41a6-8d40-21ba583eccfb/lake-elsinore-california_3x2.jpg");
    background-repeat: no-repeat;
   background-size: cover;
  }

  nav{
    background-color: rgb(252, 242, 252);
  }

  .link3{
    color: rgb(241, 164, 20);
    padding-right: 900px;
    font-size: 25px;
    
  }

  .link3:hover{
    color: rgb(185, 90, 185);
  }

  nav{
    padding-bottom: 40px;
  }

  .comp{
    padding-top: 30px;
    padding-left: 20px;
  }

  .box1{
    background-color: white;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  p{
   color: black;
   text-align: center;
  }

  .box2{
    background-color: white;
  }

  .flower1{
    padding-left: 90px;
  }

  .flower2{
    padding-left: 20px;
  }

  .flower3{
    padding-left: 20px;
  }
 


 

