#photo{
    padding-left: 900px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.img{
    border-radius: 5%;
}

.style{
    text-decoration: underline;
}

#carouselExampleIndicators{
    height: 1000px;
    width: 1000px;
    margin: auto;
}

img{
    border-radius: 60pc;
    overflow: hidden;
  }



 

